{{>header}}
<body>
    <div class="main-content center-container">
        
        <hr class="linia">

        <div class="back-container">
            <div style="text-align: center; ">
                <h1 style="color: red; text-size:24px;">404 Page not found </h1>
                <h2>{{title}}</h2>
            </div>
        </div>

        <hr class="linia">

    </div>
</body>
{{>footer}}