{{>header}}

<body>
    <div class="main-content">
        <div class="back-container">
            <h1>About Page!</h1>
            <h2>{{title}}</h2>
            <img class="portrait" src="img/profile.png" alt="This is me!">
            <p>Create by {{name}}</p>
        </div>
        <hr class="linia">
        <div class="back-container">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, amet ratione sequi modi sed, ducimus aut numquam molestiae culpa distinctio nesciunt minus alias necessitatibus natus laboriosam sunt reprehenderit sint tempora blanditiis itaque minima voluptatum possimus autem tenetur. Ipsum commodi dolorum perspiciatis natus odio itaque autem accusamus earum quos ut omnis alias at nam impedit iusto veniam cupiditate, nihil vel? Laborum error repudiandae deserunt tempore, praesentium molestiae a, exercitationem dolor, cumque dolorum asperiores ipsum aperiam fugiat? Libero possimus temporibus ratione! Porro inventore reiciendis alias nobis nulla sunt esse rem eos tenetur, sapiente pariatur ducimus obcaecati ratione asperiores nihil cumque! Hic facilis deleniti laboriosam accusamus corporis quas temporibus! Rem eligendi, repellendus et, ipsa aliquid ipsum porro tempore veritatis ipsam, consequatur itaque. Officiis perferendis quibusdam qui neque debitis velit numquam recusandae. Quibusdam, unde maxime maiores eos dolor sequi aspernatur quidem, magnam repellendus possimus quaerat, magni quisquam ipsum quod ex minima sint dolorum incidunt repellat quia! Tempore nihil esse suscipit incidunt non ea consectetur? Atque nostrum repudiandae est iure autem sunt ullam. Perferendis quasi natus officia. Praesentium labore earum delectus harum. Laboriosam laborum autem officia tenetur sequi, maiores a sed eaque unde vero eius accusantium iste iusto praesentium quas, sit provident reiciendis nisi iure, dignissimos aliquid et enim. Ipsa labore eius voluptatum expedita ea adipisci aliquam quaerat. Provident, recusandae distinctio. Omnis ducimus natus, ea iure tempora perferendis nostrum corporis distinctio porro praesentium iusto repudiandae totam magnam qui, doloribus quia non recusandae? Ratione, sapiente optio! Repudiandae esse minus iusto nostrum fuga doloremque hic iure deserunt?
            </p>
        </div>
    <!-- END main-content --> 
    </div>
</body>

{{>footer}}