{{>header}}

<body>
    <div class="main-content">

        <div class="back-container">
            <h1>Help Page!</h1>
            <h2>{{title}}</h2>
            <p>Created by {{name}}<br>This is message: <br>{{message}}</p>
        <!-- END back-content --> 
        </div>

        <hr class="linia">

        <div class="back-container">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente vero doloremque aspernatur eveniet ea? Culpa eligendi dolores dolore quod delectus a? Sint error itaque ullam. Maxime inventore assumenda eos quaerat praesentium quam quibusdam eius quasi soluta earum, perferendis repellendus quo, doloremque vero explicabo. Tempora maxime ullam corrupti libero rerum temporibus, iure culpa voluptatum accusantium facilis veritatis quam esse fugit vel sit maiores? Veritatis nostrum vel hic consequatur enim nemo. Excepturi, deleniti? Eaque harum mollitia vero ullam quas quod corporis atque quos! Rerum praesentium possimus nihil delectus nostrum ratione, excepturi ipsum sequi. Voluptates deleniti porro cumque exercitationem autem dolorum consequatur placeat impedit voluptatibus, tempora, culpa debitis repudiandae. Culpa odio fugit ab neque, corporis vitae ducimus fugiat ipsam laudantium minima eveniet! Ipsa maxime laudantium dolorum illo quisquam eaque? Nobis autem neque, illo voluptatem delectus ratione et exercitationem a itaque alias veritatis minus similique. Eos impedit totam sequi ab obcaecati iure quia, fugiat, nostrum maiores nam pariatur exercitationem at facilis non sed minus est? Molestiae, ab eum! Rerum officiis aliquam sunt deserunt quaerat dignissimos. Deleniti ducimus eligendi qui mollitia molestiae, commodi provident nemo quia. Illo magni neque labore repellat consequatur impedit similique laborum ipsam illum facere? Sit illum ut minus quae eveniet voluptas.
            </p>
        <!-- END back-content -->    
        </div>
    <!-- END main content -->    
    </div>
</body>

{{>footer}}