<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="css\img\weather.png" type="image/x-icon">
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css' rel='stylesheet' />
    <nav>
        <div>
            <ul>
                <li>
                <a href="/">HOME</a>
                <a href="/help">Help</a>
                <a href="/about">About</a>
                </li>
            </ul>
        </div>
    </nav>
</head>